<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add connectionString="Data Source=USER-PC\SQLEXPRESS;Initial Catalog=Lab7-db;Integrated Security=True;Connect Timeout=30;Encrypt=True;TrustServerCertificate=True" 
			 name="DefaultConnection"/>
	</connectionStrings>
	
</configuration>